body{
  background-color: rgb(185, 143, 224);
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: gray ;
}
.header h1{
  color: white;
  margin-left: 10px;
}

.header nav a{
  padding: 8px;
  cursor: pointer;
}
.header nav a:hover{
  color: white;
}